@import './scss/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;300;500&display=swap');

$dark-grey: rgba(25,25,25);

* {
    font: 400 1rem 'Poppins', sans-serif;
    color: $dark-grey;
}

a {
    text-decoration: none;
    font: inherit;
}

.App {  
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 17vw 1fr 65px;
    grid-template-rows: 65px repeat(2, 1fr);
    gap: 0;
}

header { 
    grid-area: 1 / 1 / 2 / 4;
    align-self: center; 
    border-bottom: 1px solid $dark-grey;
    padding: 0 15px;
    .header {
        font: 600 3rem 'Poppins', sans-serif;
        text-transform: lowercase;
        line-height: 65px;
        &__subtitle {
            font: 300 2rem 'Roboto Slab', serif;
        }
    }
}
  
nav { 
    grid-area: 2 / 1 / 4 / 2; 
    border-right: 1px solid $dark-grey;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            font: 300 1rem 'Roboto Slab', serif;
            text-transform: uppercase;
            a {
                display: inline-block;
                width: 100%;
                height: 24px;
                overflow: hidden;
                padding: 9px 15px;
                border-bottom: 1px solid $dark-grey;
                transition: height .5s ease-in-out;
                &:hover {
                    height: 40px;
                }
                &.active {
                    height: 40px;
                    font: 500 1rem 'Roboto Slab', serif;
                }
            }
        }
    }
}
  
.main-content,
section { 
    // height: calc(100vh - 65px);
    // overflow: hidden;
    grid-area: 2 / 2 / 4 / 4; 
    table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        max-width: 100%;
        th, td {
            text-align: left;
            padding: 0.5rem;
        }
        thead {
            th {
                border-bottom: 2px solid #dedede;
                font: 500 1rem 'Poppins', sans-serif;
                text-transform: lowercase;
                position: sticky;
                top: 0;
                z-index: 2;
                background-color: white;
            }
        }
        tbody {
            td {
                border-bottom: 1px solid #dedede;
                font: 300 1rem 'Roboto Slab', serif;
            }
        }
        #thead__edit,
        #thead__delete {
            width: 55px;
        }
        .table {
            &__icon {
                width: 22px;
                height: 22px;
                display: inline-block;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
}

.resources {
    &__list {
        padding: 0 15px 15px;
        h1 {
            font: 300 1.8rem 'Roboto Slab', serif;
            text-transform: lowercase;
            margin: 0 0 30px 0;
        }
    }
    &__table {
        height: calc(100vh - 140px);
        overflow: hidden auto;
    }
}

.edit {
    // overflow: hidden auto;
    // height: calc(100vh - 65px);
    // overflow: hidden;
    // .ingredients__list,
    // .utensils__list,
    // .instructions__list {
    // }
    .instructions__list {
        // height: 600px;
        overflow-y: auto;
    }
}
  
.logout { 
    grid-area: 1 / 3 / 2 / 4; 
    justify-self: center; 
    align-self: center; 
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
  